<body class="bg-light">

   

        <div class="container" data-aos="fade-up" *ngIf="cartiszero">
  
          <div class="section-header">
            <h2>Cart</h2>
            <p>Shopping<span> Cart</span></p>
          </div>
  
                <div class="testimonial-item">
                 
                  <div class="row gy-4 justify-content-center">

                    <div class="col-lg-6">
                      <div class="testimonial-content">
                        You don't have any items in your cart.
                        Check out menu!
                      </div>

                        <div class="addpadding"></div>
                    </div>
                
                
  
             
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>

    
    
    
    
    
    
    
    
    
    



    <div class="container" *ngIf="cartgreaterthenzero">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="./assets/img/yum.jpg" alt="" width="72" height="72">
        <h2>Checkout form</h2>
        <p class="lead">Hello, {{UserNameFrontend}} complete your purchase for takeout here</p>
        <p class="lead"><i>This is a mock website, so please don't type in any real information! Information will be saved in the database when you click on checkout!</i></p>
        
      </div>

      <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>
          <ul class="list-group mb-3" >
            <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let x of displayArray; index as i">
              <div>
                <h6 class="my-0">{{i+1}}.) {{x.item}}</h6>
              <!--  <small class="text-muted">Brief description</small> -->
              </div>
              <span class="text-muted">${{x.price}}</span>
              <span class="text-muted"><button class="btn btn-outline-dark btn-sm" [ngStyle]="{'maring': '10px'}" (click)="removeIndex(i)">Remove</button></span>
            </li>       
           <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong>${{finalpricestring}}</strong>
            </li>
          </ul>
 
          <!--
          <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code">
              <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Redeem</button>
              </div>
            </div>
          </form>
        -->
        </div>

  
        <div class="col-md-8 order-md-1" [formGroup]="InformationForm">
            <h4 class="mb-3">Payment</h4>

            <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <input id="credit" name="Credit" type="radio" class="custom-control-input" value=true formControlName="Credit" checked required>
                <label class="custom-control-label" for="credit">Credit card</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="debit" name="Debit" type="radio" class="custom-control-input" value=true formControlName="Debit">
                <label class="custom-control-label" for="debit">Debit card</label>
              </div>
              <!--
              <div class="custom-control custom-radio">
                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input"formControlName="PaymentType"required>
                <label class="custom-control-label" for="paypal">PayPal</label>
              </div>
            -->

            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="cc-name">Name on card</label>
                <input type="text" class="form-control" id="cc-name" placeholder="John Doe" formControlName="NameonCard" required>
                <small class="text-muted">Full name as displayed on card</small>
                <div class="invalid-feedback">
                  Name on card is required
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="cc-number">Credit card number</label>
                <input type="text" class="form-control" id="cc-number" placeholder="000-000-0000" formControlName="CreditCardNumber" >
                <div class="invalid-feedback">
                  Credit card number is required
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiration</label>
                <input type="text" class="form-control" id="cc-expiration"  placeholder="12/30"  formControlName="Expiration" required>
                <div class="invalid-feedback">
                  Expiration date required
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="cc-cvv">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" placeholder="000"  formControlName="CVV" required>
                <div class="invalid-feedback">
                  Security code required
                </div>
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="submitInformation()">Complete Checkout</button>
       
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1"></p>
        <ul class="list-inline">
     
        </ul>
      </footer>

    </div>

</body>