<body class="bg-light">
<div class="container-fluid">
<div class="row">


    <section id="testimonials" class="testimonials section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Order</h2>
            <p [style]="{'padding': '50px'}">Order is now complete!<span> Please pickup in 30 minutes @ {{calcTime}}</span></p>
          </div>
  
          <div class="slides-1 swiper" data-aos="fade-up" >
            <div class="swiper-wrapper" [style]="{'padding': '50px'}">
                <div></div>
                <div></div>    

          </div>
          
          </div>
  
        </div>
      </section><!-- End Testimonials Section -->



</div>
</div>
</body>