    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>About Us</h2>
            <p>Learn More <span>About Us</span></p>
          </div>
  
          <div class="row gy-4">
            <div class="col-lg-7 position-relative about-img" style="background-image: url(./assets/img/about.jpg) ;" data-aos="fade-up" data-aos-delay="150">
              <div class="call-us position-absolute">
                <h4>Book a Table</h4>
                <p>+1 5589 55488 55</p>
              </div>
            </div>
            <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
              <div class="content ps-0 ps-lg-5">
                <p class="fst-italic">
                  Yummy is the first solo project of Chef Walter White. Inspired by Walter’s upbringing in downtown New York and his experience leading the city’s most celebrated kitchens, Yummy is a neighborhood seasonal restaurant elevated by fine dining training and technique.

                  Located on the in Adam Street, NY, the dining room and bar occupy a series of rooms with floor to 16-foot-ceiling windows leading to an open kitchen. 
                  
                  The food at Yumy is rooted in asian cuisine but draws inspiration from around the world, primarily the flavors from our childhoods, traveling, and the diverse cuisine in New York City.
                </p>
            
  
                <div class="position-relative mt-4">
                  <img src="./assets/img/about-2.jpg" class="img-fluid" alt="">
              
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End About Section -->