<body class="text-center" >
    <form class="form-signin" [formGroup]="SignUpForm">
      <img class="mb-4" src="./assets/img/yum.jpg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Create an Account</h1>
     

      <input type="email" id="email" class="form-control" placeholder="Email address" formControlName="Email" [ngStyle]="{'margin': '10px'}">
    
      <div class *ngIf="SignUpForm.get('Email')?.hasError('EmailDuplicate')">This email is a duplicate-use another</div>

      


      <!--
       <span *ngIf="Email && Email?.invalid && Email?.touched">Please enter a valid Email</span>
    -->
      <input type="password" id="inputPassword" class="form-control" placeholder="Password"  formControlName="Password" [ngStyle]="{'margin': '10px'}">
      <span *ngIf="Password && Password?.invalid && Password?.touched">Please enter a valid Password </span>
     
      <input type="passwordConfirm" id="inputPasswordConfirm" class="form-control" placeholder="Password Confirm" formControlName="PasswordConfirm" [ngStyle]="{'margin': '10px'}" >
      <span *ngIf="PasswordConfirm && PasswordConfirm?.invalid && PasswordConfirm?.touched">Please confirm the Password </span>
      <div class="error-message" *ngIf="SignUpForm.errors?.['PasswordNoMatch']">
        Password does not match
      </div>
      <!--
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
   
 -->
      <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="SignUpForm.invalid" (click)="SubmitSignUp()">Create Account</button>
      
      <p class="mt-5 mb-3 text-muted"></p>
    </form>
  

</body>