<body class="text-center">
    <form class="form-signin">
      <img class="mb-4" src="./assets/img/yum.jpg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Create an Account</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" fdprocessedid="0fbcs">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" fdprocessedid="a86wy">
      <input type="passwordConfirm" id="inputPasswordConfirm" class="form-control" placeholder="Password Confirm" required="" fdprocessedid="a86wy">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" fdprocessedid="1hglpm">Create Account</button>
      <p class="mt-5 mb-3 text-muted"></p>
    </form>
  

</body>